<h1>
  Mean-Angular 4 Todo List with Registration-login Example
</h1>
<p>
	This a simple example for MEAN Stack with Angular 4, cantains the listed features as below:
</p>
<ul>
  <li >
  	<a [routerLink]="['/static/register']" class="btn btn-link">User registration</a>
  </li>
  <li >
  	<a [routerLink]="['/static/login']" class="btn btn-link">User login</a> (username: test, password: test)
  </li>
  <li >
  	<a [routerLink]="['/static/tasklist']" class="btn btn-link">Create a Todo list for login user</a>
  </li>
</ul>
<p>
	Related teches been used are list below:
</p>
<ul>
  <li >Angular 4</li>
  <li >JWT for auth checking</li>
  <li >Redis for server session</li>
  <li >Nodejs + Express</li>
  <li >Monodb for storage</li>
</ul>

<p>
	For details and source code go to 
		<a target="_blank" href="https://github.com/DingLiao/mytasklist.git">https://github.com/DingLiao/mytasklist.git</a>
</p>
